{% extends "input_layout.html" %} {% block title %}Fertilizer{% endblock %} {% block content
%}
<style>
    html body {
        background-color: rgb(206, 206, 228);
        margin: 0;
        padding-left: 2px;
        padding-bottom: 74px;
        padding-top: 10px;
        font-family: sans-serif;
        background: url("https://images.pexels.com/photos/259571/pexels-photo-259571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
  }
</style>
  <body class="bg-nav">

   <nav class = "navbar" id="headercon2">  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class = "text-light display-4 mt-900" style="font-size:46px" id="logincontent" >
          Sustainability is not just about adopting the latest energy-efficient technologies or turning to
            renewable sources of power. Sustainability is the responsibility of every individual every day.
            It is about changing our behaviour and mindset to reduce power and water consumption,
            thereby helping to control emissions and pollution levels.
        </h1>
      </div>
      <div class="col-lg-4" id="cardfont" id = "card_top_bt">
        <div class="card mt-100"  class="input-field">
          <div class = "card-body">
            <div>
        <form method="POST" action="{{ url_for('fert_recommend') }}">
    <div class="form-group">
        <br>
      <label for="Nitrogen" style="font-size: 20px">Nitrogen (N)</label>
      <input type="number" class="form-control" id="Nitrogen" name="nitrogen" placeholder="Enter the value (example:50)" style="font-weight: bold" required /><br>
      <label for="Phosphorous" style="font-size: 20px">Phosphorous (P) </label><br>
      <input type="number" class="form-control" id="Phosphorous" name="phosphorous" placeholder="Enter the value (example:50)" style="font-weight: bold"  required /><br>
      <label for="Pottasium" style="font-size: 20px">Pottasium (K) </label><br>
      <input type="number" class="form-control" id="Pottasium" name="pottasium" placeholder="Enter the value (example:50)" style="font-weight: bold" required /><br>
      <label for="crop" style="font-size: 20px">Crop you want to grow</label><br>
      <select name="cropname" class="form-control" id="crop" placeholder="Select a crop" style="font-weight: bold" required>
        <option selected>Select crop</option>
        <option>rice</option>
        <option>maize</option>
        <option>chickpea</option>
        <option>kidneybeans</option>
        <option>pigeonpeas</option>
        <option>mothbeans</option>
        <option>mungbean</option>
        <option>blackgram</option>
        <option>lentil</option>
        <option>pomegranate</option>
        <option>banana</option>
        <option>mango</option>
        <option>grapes</option>
        <option>watermelon</option>
        <option>muskmelon</option>
        <option>apple</option>
        <option>orange</option>
        <option>papaya</option>
        <option>coconut</option>
        <option>cotton</option>
        <option>jute</option>
        <option>coffee</option>
      </select>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-info" style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >Predict </button>
    </div>
  </form>
    </div>
          </div>
      </div>
  </div>

       <footer id="foot_ter">

	</footer>
</body>
{% endblock %}


